* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: hsl(0, 0%, 0%);
}

header #header h1 {
    color: hsl(180, 28%, 93%);
    cursor: pointer;
    font-size: 2em;
}

header #header h1 a {
    color: hsl(180, 28%, 93%);
    text-decoration: none;
}

header #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

header #header #logout-form {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0;
    margin: 0;
}

header #header #logout-form i {
    margin-right: 10px;
    font-size: 1.3em;
    transition: color 0.3s ease;
    color: hsl(207, 100%, 64%);
}

header #header #logout-form i:hover {
    color: hsl(207, 100%, 74%);
}

header #header #logout-form h3 {
    margin: 0;
    margin-right: 15px;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    font-weight: 530;
    transition: color 0.3s ease;
    color: hsl(0, 0%, 100%);
}

header #header #logout-form h3:hover {
    color: hsl(0, 0%, 70%);
}

header #navbar {
    position: sticky;
    display: flex;
    justify-content: center;
}

header #navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header #navbar ul li {
    list-style: none;
    padding: 0px 15px;
}

header #navbar ul li a {
    text-decoration: none;
    font-weight: bold;
    color: hsl(0, 0%, 55%);
    transition: all 1s ease 0s;
}

header #navbar ul li a:hover {
    color: hsl(180, 28%, 93%);
}

header #header .login-btn {
    padding: 10px 25px;
    background-color: hsl(207, 100%, 64%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: hsl(180, 15%, 94%);
    font-size: 1.1em;
    transition: all 0.3s ease 0s;
}

header #header .login-btn:hover {
    background-color: hsl(207, 100%, 74%);
}

header #header .logout-btn {
    padding: 10px 25px;
    background-color: hsl(207, 100%, 64%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: hsl(180, 15%, 94%);
    font-size: 1.1em;
    transition: all 0.3s ease 0s;
}

header #header .logout-btn:hover {
    background-color: hsl(207, 100%, 74%);
}

header #navbar input {
    background-color:hsl(0, 0%, 25%);
    border: none;
    border-radius: 30px;
    height: 30px;
    text-align: center;
    color: hsl(0, 5%, 92%);
}

header #navbar #in {
    color: hsl(180, 28%, 93%);
}

@media (max-width: 768px) {
    header #header {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px 20px;
        text-align: center;
    }

    header #header h3 {
        font-size: 1.1em;
    }

    header #header #logout-form {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    header #header .login-btn,
    header #header .logout-btn {
        width: 70%;
        max-width: 200px;
        display: block;
        font-size: 0.7em !important;
        padding: 7px 12px !important;
        text-align: center !important;
    }

    header #navbar ul {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
    }

    header #navbar ul li {
        padding: 5px 0;
    }
}

.container {
    padding: 3rem;
}

.slider-wrapper {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    aspect-ratio: 16/8;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75 hsla(0, 0%, 0%, 0.25);
    border-radius: 1rem;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    width: 100%;
    height: auto;
}

@media (max-width: 480px) {
    .slider-wrapper {
        position: relative;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .slider img {
        height: 100%;
    }

    header #header h1 {
        font-size: 1.5em;
    }
}